*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --HeaderBG: #faf6e9;

    --LogoFont: poppins;
    --LogoTxtColor: #494949;
    --NavigationFont: poppins;
    --NavigationTxtColor:#494949;

    --BannerBG: url('../Images/Frog.jpg'); 
    --BannerTxtColor: #494949; 

    --WeatherBG: url('../Images/Baguio.jpg'); 
    --ChartBG:#ece8d9; 
    --MunicipalitiesBG: #ece8d9;
    --GISBG: #fffdf6;
    --DatasetsBG: #ece8d9;

    --HighlandCropsBG: #ece8d9;
    --SampleCabbage: url('../Images/Cabbage.png'); 
    --VegsMenuFont: poppins;
    --VegsMenuTxtColor:#494949;
    --SeasonsContentBG: #fffdf6;
    --MonthsMenuFont: poppins;
    --MonthsMenuTxtColor:#494949;

}
body{
    margin: 0;
    padding: 0;
}
/*Navigation Bar*/
.navbar{
    display: flex;
    position: fixed;
    width: 100% ;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(8, 8, 8, 0.897);
    color: white;
    font-family: poppins;
    font-size: 1rem;
}
.brand-title{
    font-size: 1.5rem;
    padding-left: 5rem;
    margin: .5rem;
    display: flex;
    align-items: center;
}
.brand-title a:link{
    color: white;
    text-decoration: none;
}
.brand-title a:visited{
    color: white;
}
.brand-title img{
    width: 5rem;
    height: 3.5rem;
}
.navbar-links{
    height: 100%;
    padding-right: 5rem;
}
.navbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}
.navbar-links li:hover{
    background-color: #555;
}
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 960px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button{
        display: flex;
        margin: .7rem;
    }
    .navbar-links{
        display: none;
        width: 100%;
        background-color:#666;
        padding-right: 0rem;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li{
        text-align: center;
    }
    .navbar-links ul li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
}


/*Project ANI - Description*/
.Banner{
    height: 40vh;
    text-align: center;
    background: #ece8d9;
}
.Banner h2 {
	padding-top: 7%;
	font-size: 4.5vw;
	font-family: poppins;
	text-transform: uppercase;
	color: black;
}
.Banner p {
    padding-bottom: 70px;
	font-family: poppins;
    font-size: 1vw;
    color:black;
}
@media (max-width:1000px){
    .brand-title{
        padding-left: 0rem;
    }
    .Banner1{
        text-align: center;
    }
}

/*Feeler Weather*/
.feeler-weather{
    background:#00334d;
    height: 9vh;
    font-family: poppins;
}
.feeler-weather h1{
    padding-top: 25px;
    text-align: center;
    color: lightgray;
    letter-spacing: 10px;
    font-size: 1.5vw;
}

/*Weather*/
.Contents .WeatherSection{
	background:var(--WeatherBG);
    height: 500px;
    font-family: poppins;
	letter-spacing: 2px;
    padding-top: 25px;
}
.Contents .WeatherSection .card{
    background: #000000d0;
    border-radius: 30px;
    color: white;
    width: 45vw;
    height: 45vh;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}   
.Contents .WeatherSection .card-inside{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 70%;
    font-size: 1.1vw;
}
.WeatherSection .flex{
    align-items: center;
    display: flex;
}
.WeatherSection .search{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.WeatherSection .card input.search-bar{
    border: none;
    outline: none;
    border-radius: 24px;
    background: white;
    color: black;
    font-family: inherit;
    font-size: 1vw;
    width: 80%; 
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.WeatherSection input.search-bar:hover{
    background: lightslategray;
}
.WeatherSection .card button {
    border-radius: 50%;
    border: none;
    height: 5vh;
    width: 3vw;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background: white;
}
.WeatherSection .card button:hover{
    background: lightslategray;
  }
  .WeatherSection .card .inside .search img{
  height:1vw; 
  width:1vw;
}
.description {
    text-transform: capitalize;
}

/*Feeler Crops*/
.feeler-crops{
    background:#00334d;
    height: 9vh;
    font-family: poppins;
}
.feeler-crops h1{
    padding-top: 25px;
    text-align: center;
    color: lightgray;
    letter-spacing: 10px;
    font-size: 1.5vw;
}
/*Crops*/
.Crop-Section{
    background-color: #ece8d9;
    height: 85vh;
}
.Crop-Section .row1{
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content:space-between ;
}

.Crop-Section .row2{
    padding-top: 40px;
    padding-left: 250px;
    padding-right: 250px;
    display: flex;
    justify-content:space-between ;
}
/*Crops Modals*/
.Crop-Section .myBtn{
    text-align: center;
    font-size: 0.9vw;
    width: 15vw;
    height: 35vh;
    border-radius: 15px;
}
.myBtn:hover{
    background-color: lightgreen;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    font-family: poppins;
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }


/*Feeler Season*/
.feeler-season{
    background:#00334d;
    height: 9vh;
    font-family: poppins;
}
.feeler-season h1{
    padding-top: 25px;
    text-align: center;
    color: lightgray;
    letter-spacing: 10px;
    font-size: 1.5vw;
}
/*Season*/
.Season-Section{
    background-color: #ece8d9;
    height: 85vh;
}
.Season-Section .row1{
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content:space-between ;
}

.Season-Section .row2{
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content:space-between ;
}
/*Season Modals*/
.Season-Section .myBtn-season{
    text-align: center;
    font-size: 0.9vw;
    width: 13.5vw;
    height: 35vh;
    border-radius: 15px;
}
.Season-Section .myBtn-season:hover{
    background-color: lightblue;
}
.modal-season {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content Season */
  .modal-content-season {
    font-family: poppins;
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation Season*/
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button Season*/
  .close-season {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-season:hover,
  .close-season:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header-season {
    padding: 2px 16px;
    background-color: rgb(87, 160, 206);
    color: white;
  }
  
  .modal-body-season {padding: 2px 16px;}
  
  .modal-footer-season {
    padding: 2px 16px;
    background-color: rgb(87, 160, 206);
    color: white;
  }




/*Feeler Municipalities*/
.feeler-municipalities{
    background:#00334d;
    height: 9vh;
    font-family: poppins;
}
.feeler-municipalities h1{
    padding-top: 25px;
    text-align: center;
    color: lightgray;
    letter-spacing: 10px;
    font-size: 1.5vw;
}
/*Municipalities*/
.Contents .Municipalities{
    background: var(--MunicipalitiesBG);
    text-align: center;
    height: 55vh;
}
.Municipalities .map-wrapper{
    display: block;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
}
.Municipalities .googlemap{
    width: 100%;
}


/*Feeler GIS*/
.feeler-gis{
    background:#00334d;
    height: 9vh;
    font-family: poppins;
}
.feeler-gis h1{
    padding-top: 25px;
    text-align: center;
    color: lightgray;
    letter-spacing: 10px;
    font-size: 1.5vw;
}
/*GIS*/
.GIS{
    background-color: #ece8d9;
    height: 40vh;
}


/*Footer*/
.footer{
    background-color: black;
    font-family: poppins;
    color: white;
    text-align: center;
    font-size: 0.7vw;
    height: 20vh;
    padding-top: 18px;
    line-height: 2.5;
}
.footer a{
    color: orange;
    font-size: 0.8vw;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }  
/* Set a style for all buttons */
.footer button{
    font-family: poppins;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.footer button:hover{
    opacity: 0.8;
}
  /* Extra styles for the cancel button */
.footer .cancelbtn{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
  
  /* Center the image and position the close button */
.footer .imgcontainer{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
  
.footer img.avatar{
    width: 40%;
    border-radius: 50%;
}
  
.footer .container{
    padding: 16px;
    color: black;
    text-align: left;
}
  
.footer span.psw{
    float: right;
    padding-top: 16px;
}
  
  /* The Modal (background) */
.footer .modalfooter{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
  
  /* Modal Content/Box */
.footer .modal-content{
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
} 
  /* The Close Button (x) */
.footer .close{
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
  
.footer .close:hover,
.close:focus{
    color: red;
    cursor: pointer;
} 
  /* Add Zoom Animation */
.footer .animate{
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom{
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom{
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
  
  /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }