*{
    margin: 0;
    padding: 0;

    --HeaderBG: #faf6e9;

    --LogoFont: poppins;
    --LogoTxtColor: #494949;
    --NavigationFont: poppins;
    --NavigationTxtColor:#494949;

    --BannerBG: #fffdf6; 
    --BannerTxtColor: #494949; 

    --WeatherBG: #ece8d9; 
    --ChartBG: #fffdf6; 
    --AreaOfFarmlandBG: #ece8d9;
    --AnnouncementsBG: #fffdf6;

    --HighlandCropsBG: #ece8d9;
    --VegsMenuFont: poppins;
    --VegsMenuTxtColor:#494949;
    --SeasonsContentBG: #fffdf6;

}

body{
    text-align: center;
}

.Items{
    width: 1170px;
    margin: 0 auto;
}

header{
    height: 100px;
    background: var(--HeaderBG);
    width: 100%;
    z-index: 12;
    position: fixed;
}


.Logo{
    width: 30%;
    float: left;
    line-height: 100px;
}
.Logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: var(--LogoFont);
    color: var(--LogoTxtColor);
    letter-spacing: 5px;
}

nav{
    float: right;
    line-height: 100px;
}
nav li{
    list-style-type: none;
    display: inline-block;
}
nav li a{
    text-decoration: none;
    font-family: var(--NavigationFont);
    letter-spacing: 4px;
    font-size: 20px;
    margin: 15px;
    color: var(--NavigationTxtColor);
}
nav .MMlist::after {
    content:'';
    display: block;
    width: 0;
    height: 3px;
    background: #494949;
    transition: width .3s;
}
nav .MMlist:hover::after {
    width: 100%;
    transition: width .3s;
}


.Banner{
    width: 100%;
	height: 500px;
	position: absolute;
	top: 3%;
	background: var(--BannerBG);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.Banner h2 {
	padding-top: 8%;
	font-size: 70px;
	font-family: poppins;
	text-transform: uppercase;
	color: var(--BannerTxtColor);
}
.Banner p {
	font-family: poppins;
    font-size: 25px;
}


<!--Weather-->
.Contents {
	width: 100%;
	position: relative;
	top: 450px;
	height: 1500px;
}
.Contents .Weather{
	background: var(--WeatherBG);
}


<!--Chart-->
.Contents .Chart{
    background: var(--ChartBG);
}
.Contents .Chart h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.Contents .Chart p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}


<!--Area of Farmland-->
.Contents .AreaOfFarmland{
    background: var(--AreaOfFarmlandBG);
}
.Contents .AreaOfFarmland h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.Contents .AreaOfFarmland p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}


<!--Announcements-->
.Contents .Announcements{
    background: var(--AnnouncementsBG);
}
.Contents .Announcements h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.Contents .Announcements p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}


<!--HighlandCrops-->
.Contents .HighlandCrops{
    background: var(--HighlandCropsBG);
}
.Contents .HighlandCrops h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.Contents .HighlandCrops .VegsMenu{
    margin-top:30px;
}
.Contents .HighlandCrops .VegsMenu ul
{
    display: block;
}
.Contents .HighlandCrops .VegsMenu ul li
{
    list-style-type: none;
    display: inline-block;
}
.Contents .HighlandCrops .VegsMenu ul li a
{
    text-decoration: none;
    font-family: var(--VegsMenuFont);
    letter-spacing: 4px;
    font-size: 20px;
    margin: 15px;
    color: var(--VegsMenuTxtColor);
}
.Contents .HighlandCrops .VegsMenu ul li a .VegsList
{
    position: relative;
    display: block;
    padding: 7%;
    height: 15%;
    line-height: 15%;
    text-align: center;
    white-space: nowrap;
}
.Contents .HighlandCrops .VegsMenu ul li a ::after {
    content:'';
    display: block;
    width: 0;
    height: 3px;
    background: #494949;
    transition: width .3s;
}
.Contents .HighlandCrops .VegsMenu ul li a :hover::after {
    width: 100%;
    transition: width .3s;
}

.Contents .VegtableInfo{
    background: var(--HighlandCropsBG);
}
.Contents .VegtableInfo h1 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}