*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --HeaderBG: #faf6e9;

    --LogoFont: poppins;
    --LogoTxtColor: #494949;
    --NavigationFont: poppins;
    --NavigationTxtColor:#494949;

    --BannerBG: url('../Images/Frog.jpg'); 
    --BannerTxtColor: #494949; 

    --WeatherBG: url('../Images/Plant.jpg'); 
    --ChartBG:#ece8d9; 
    --MunicipalitiesBG: #ece8d9;
    --GISBG: #fffdf6;
    --DatasetsBG: #ece8d9;

    --HighlandCropsBG: #ece8d9;
    --SampleCabbage: url('../Images/Cabbage.png'); 
    --VegsMenuFont: poppins;
    --VegsMenuTxtColor:#494949;
    --SeasonsContentBG: #fffdf6;
    --MonthsMenuFont: poppins;
    --MonthsMenuTxtColor:#494949;

}
body{
    margin: 0;
    padding: 0;
}
/*Navigation Bar*/
.navbar{
    display: flex;
    position: fixed;
    width: 100% ;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(8, 8, 8, 0.897);
    color: white;
    font-family: poppins;
    font-size: 1rem;
}
.brand-title{
    font-size: 1.5rem;
    padding-left: 5rem;
    margin: .5rem;
    display: flex;
    align-items: center;
}
.brand-title img{
    width: 5rem;
    height: 3.5rem;
}
.navbar-links{
    height: 100%;
    padding-right: 5rem;
}
.navbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}
.navbar-links li:hover{
    background-color: #555;
}
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 960px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button{
        display: flex;
        margin: .7rem;
    }
    .navbar-links{
        display: none;
        width: 100%;
        background-color:#666;
        padding-right: 0rem;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li{
        text-align: center;
    }
    .navbar-links ul li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
}


/*Project ANI - Description*/
.Banner{
    height: 77vh;
}
.Banner1{
    align-items: left;
    position: absolute;
    top: 10%;
    left: 0;
}
.Banner h2 {
	padding-top: 100px;
	font-size: 100px;
	font-family: poppins;
	text-transform: uppercase;
	color: white;
}
.Banner p {
    padding-bottom: 70px;
	font-family: poppins;
    font-size: 25px;
    color: white;
}
.Banner video{
    position: relative;
    top: 9.3%;
    left: 0;
    width: 100%;
    height: 70vh;
    object-fit: cover;
}
@media (max-width:1000px){
    .brand-title{
        padding-left: 0rem;
    }
    .Banner1{
        text-align: center;
    }
}

/*Feeler Weather*/
.feeler-weather{
    background:#00334d;
    height: 9vh;
    font-family: poppins;
}
.feeler-weather h1{
    padding-top: 25px;
    text-align: center;
    color: lightgray;
    letter-spacing: 10px;
    font-size: 1.5vw;
}

/*Weather*/
.Contents .WeatherSection{
	background:#ece8d9;
    height: 500px;
    font-family: poppins;
	letter-spacing: 2px;
    padding-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Contents .WeatherSection .card{
    background: rgb(231, 228, 228);
    border-radius: 30px;
    padding-top: 1em;
    padding-left: 1.5em;
    color: black;
    width: 630px;
    height: 450px;
    border-style: solid;
}
.Contents .WeatherSection .right{
    margin-right: 200px;
}
.Contents .WeatherSection .card-inside{
    margin-left: auto;
    margin-top: 30px;
    margin-right: auto;
    width: 80%;
    font-size: 1.1vw;
}
.WeatherSection .flex{
    align-items: center;
    display: flex;
}
.WeatherSection .card input.search-bar{
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 24px;
    background: lightgray;
    color: black;
    font-family: inherit;
    font-size: 1vw;
    width: 80%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
input.search-bar:hover{
    background: black;
}
.WeatherSection .card button {
    border-radius: 50%;
    border: none;
    height: 2.2vw;
    width: 2.2vw;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: lightgray;
}
.WeatherSection .card button:hover{
    background: lightgray;
  }
  .WeatherSection .card .inside .search img{
  height:1vw; 
  width:1vw;
}
.description {
    text-transform: capitalize;
}
@media (max-width: 1500px){
    .Contents .WeatherSection{
        padding-left: 50px;
    }
}

/*Feeler Crops*/
.feeler-crops{
    background:#00334d;
    height: 9vh;
    font-family: poppins;
}
.feeler-crops h1{
    padding-top: 25px;
    text-align: center;
    color: lightgray;
    letter-spacing: 10px;
    font-size: 1.5vw;
}
/*Crops*/
.Crop-Section{
    background-color: #ece8d9;
    height: 85vh;
}
.Crop-Section .row1{
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content:space-between ;
}

.Crop-Section .row2{
    padding-top: 40px;
    padding-left: 250px;
    padding-right: 250px;
    display: flex;
    justify-content:space-between ;
}
.Crop-Section .veggy{
    text-align: center;
    font-size: 0.9vw;
    width: 15vw;
    height: 35vh;
    border-radius: 15px;
}
.veggy:hover{
    background-color: lightgreen;
}



/*Feeler Season*/
.feeler-season{
    background:#00334d;
    height: 9vh;
    font-family: poppins;
}
.feeler-season h1{
    padding-top: 25px;
    text-align: center;
    color: lightgray;
    letter-spacing: 10px;
    font-size: 1.5vw;
}
/*Season*/
.Season-Section{
    background-color: #ece8d9;
    height: 85vh;
}
.Season-Section .row1{
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content:space-between ;
}

.Season-Section .row2{
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content:space-between ;
}
.Season-Section .months{
    text-align: center;
    font-size: 0.9vw;
    width: 13.5vw;
    height: 35vh;
    border-radius: 15px;
}
.months:hover{
    background-color: lightskyblue;
}



/*Feeler Municipalities*/
.feeler-municipalities{
    background:#00334d;
    height: 9vh;
    font-family: poppins;
}
.feeler-municipalities h1{
    padding-top: 25px;
    text-align: center;
    color: lightgray;
    letter-spacing: 10px;
    font-size: 1.5vw;
}
/*Municipalities*/
.Contents .Municipalities{
    background: var(--MunicipalitiesBG);
    text-align: center;
    height: 55vh;
}
.Municipalities .map-wrapper{
    display: block;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
}
.Municipalities .googlemap{
    width: 100%;
}


/*Feeler GIS*/
.feeler-gis{
    background:#00334d;
    height: 9vh;
    font-family: poppins;
}
.feeler-gis h1{
    padding-top: 25px;
    text-align: center;
    color: lightgray;
    letter-spacing: 10px;
    font-size: 1.5vw;
}
/*GIS*/
.GIS{
    background-color: #ece8d9;
    height: 20vh;
}


/*Feeler Dataset*/
.feeler-dataset{
    background:#00334d;
    height: 9vh;
    font-family: poppins;
}
.feeler-dataset h1{
    padding-top: 25px;
    text-align: center;
    color: lightgray;
    letter-spacing: 10px;
    font-size: 1.5vw;
}
/*Datasets*/
.Contents .Datasets{
    background: var(--DatasetsBG);
    text-align: center;
}
.Contents .Datasets h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.Contents .Datasets p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}

.Datasets .search{
    padding-bottom: 30px;
}